@{
    ViewBag.Title = "The History of Himalayan Nepalese Cuisine";
}
<h2>@ViewBag.Title.</h2>


<p>Himalayan, as an authentic Nepalese  Cuisine, serves typical Nepali Dishes in the original taste as its form. 
Himalayan has main focused on the originality of the taste of foods that it offers to all the stepped in personels.</p>
