@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>


<div class="contact-card">
    <h1>Himalayan Nepalese Cuisine</h1>
    <p>Our Phone<br>0431 837 922</p>
    <p>Our Location<br>22 Sheffield st, Auburn NSW 2144</p>
</div>