<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/Content/myhomepage.css" />
    <table class="customTable">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student ID </th>
                <th>Student Email </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Suman Bamjan</td>
                <td>12203216</td>
                <td>12203216@students.koi.edu.au</td>
            </tr>
            <tr>
                <td>Bishnu Balampaki Magar</td>
                <td>12202333</td>
                <td>12202333@students.koi.edu.au</td>
            </tr>
            <tr>
                <td>Alish Gosai</td>
                <td>12202611</td>
                <td>12202611@students.koi.edu.au</td>
            </tr>
            <tr>
                <td>Prakiti Khanal</td>
                <td>12202610</td>
                <td>12202610@students.koi.edu.au</td>
</tbody>
    </table>
</body>
</html>